.dash-block
  .row.dash-row
    .number-block.col-xs-6.col-sm-4.col-md-2
      .dash-number
        =Participant.all.count
      .dash-label
        participants
  #mini-map
:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'mini-map'}}, function(){
    markers = handler.addMarkers(#{raw @hash.to_json });
    //polylines = handler.addPolylines(#{raw @hash.to_json});
    handler.bounds.extendWith(markers);
    //handler.bounds.extendWith(polylines);
    handler.fitMapToBounds();
  });
    
  
