.dash-block
  .row.dash-row
    .number-block.col-xs-6.col-sm-4.col-md-2
      .dash-number
        =Participant.all.count
      .dash-label
        participants
  .dash-row
    #mini-map
    .summary-panel.panel.panel-default
      .panel-heading
        %h4.panel-title Latest participants
      .panel-body
        %table.table.table-striped.table-hover
          %thead
            %tr
              %th
                Participant ID
              %th
                =(Survey.first.details_required ? "Name" : "IMEI")
              %th
                Registered

              

              
          %tbody
            -Participant.last(5).each do |g|
              %tr{data:{link:"#{summary_participant_path(g)}", :no_turbolink => true}}
                %td
                  =g.id
                %td
                  =(Survey.first.details_required ? g.name : g.imei)
                %td
                  ="#{time_ago_in_words(g.created_at)} ago"
:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'mini-map'}}, function(){
    markers = handler.addMarkers(#{raw @hash.to_json });
    //polylines = handler.addPolylines(#{raw @hash.to_json});
    handler.bounds.extendWith(markers);
    //handler.bounds.extendWith(polylines);
    handler.fitMapToBounds();
  });
    
  
