.dash-block
  .row.dash-row
    .number-block.col-xs-6.col-sm-4.col-md-2
      .dash-number
        7
      .dash-label
        devices checked in today
    .number-block.col-xs-6.col-sm-4.col-md-2
      .dash-number
        2
      .dash-label
        pending devices
    .number-block.col-xs-6.col-sm-4.col-md-2
      .dash-number
        10
      .dash-label
        pending devices
    .number-block.col-xs-6.col-sm-4.col-md-2
      .dash-number
        3
      .dash-label
        pending devices
    .number-block.col-xs-6.col-sm-4.col-md-2
      .dash-number
        23
      .dash-label
        pending devices

    .number-block.col-xs-6.col-sm-4.col-md-2
      .dash-number
        1
      .dash-label
        pending devices
  
