=content_for :title do
  Dashboard | MetaCollector 2
=content_for :page_title do
  %i.fa.fa-lg.fa-dashboard
  Dashboard
=content_for :nav do
  =render :partial => 'shared/nav'
=render :partial => 'shared/alert'
.dashboard-block
  =render :partial => 'dashboard'