=content_for :title do
  Participants | MetaCollector 2
=content_for :page_title do
  %i.fa.fa-lg.fa-dashboard
  Participants
=content_for :nav do
  =render :partial => 'shared/nav'
=render :partial => 'shared/alert'
.dashboard-block
  