%table.table.table-striped.table-hover
  %thead
    %tr
      %th
        Number
      %th
        Time

      

      
  %tbody
    -@participant.sms_log_records.order(date: :desc).each do |g|
      %tr
        %td
          =g.address
        %td
          =DateTime.strptime((g.date / 1000).to_s,'%s').in_time_zone("Auckland").strftime('%c')

        
  