=content_for :title do
  Participant Data | MetaCollector 2
=content_for :page_title do
  %i.fa.fa-lg.fa-table
  Participant Data
=content_for :nav do
  =render :partial => 'shared/nav'
=render :partial => 'shared/alert'
.dashboard-block
  .data-block
    %ul.nav.nav-tabs{role:'tablist'}
      %li{role:'presentation', class: ('active' if @maxs == 'calls')}
        =link_to "Call logs", "#calls", "data-toggle" => "tab"
      %li{role:'presentation', class: ('active' if @maxs == 'sms')}
        =link_to "SMS logs", "#sms", "data-toggle" => "tab"
      %li{role:'presentation', class: ('active' if @maxs == 'apps')}
        =link_to "Installed apps", "#apps", "data-toggle" => "tab"
      %li{role:'presentation', class: ('active' if @maxs == 'location')}
        =link_to "Location", "#location", "data-toggle" => "tab"
      %li{role:'presentation', class: ('active' if @maxs == 'fb_convo')}
        =link_to "Facebook conversations", "#fb_convo", "data-toggle" => "tab"
      %li{role:'presentation', class: ('active' if @maxs == 'fb_message')}
        =link_to "Facebook messages", "#fb_message", "data-toggle" => "tab"
    .tab-content
      .tab-pane#calls{role: 'tabpanel', class: ('active' if @maxs == 'calls')}
        =render :partial => 'calls'
      .tab-pane#sms{role: 'tabpanel', class: ('active' if @maxs == 'sms')}
        =render :partial => 'sms'
      .tab-pane#apps{role: 'tabpanel', class: ('active' if @maxs == 'apps')}
        =render :partial => 'apps'
      .tab-pane#location{role: 'tabpanel', class: ('active' if @maxs == 'location')}
        =render :partial => 'location'
      .tab-pane#fb_convo{role: 'tabpanel', class: ('active' if @maxs == 'fb_convo')}
        =render :partial => 'fb_convo'
      .tab-pane#fb_message{role: 'tabpanel', class: ('active' if @maxs == 'fb_message')}
        =render :partial => 'fb_message'
  