=content_for :title do
  Participants | MetaCollector 2
=content_for :page_title do
  %i.fa.fa-lg.fa-dashboard
  Participants
=content_for :nav do
  =render :partial => 'shared/nav'
=render :partial => 'shared/alert'
.dashboard-block
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th
          Participant ID
        %th
          Name
        %th
          Email
        %th
          IMEI

        
    %tbody
      -Participant.all.each do |g|
        %tr{data:{link:"#{summary_participant_path(g)}", :no_turbolink => true}}
          %td
            =g.id
          %td
            =g.name
          %td
            =g.email
          %td
            =g.imei
          
  