=content_for :title do
  Participants | MetaCollector 2
=content_for :page_title do
  %i.fa.fa-lg.fa-dashboard
  Participants
=content_for :nav do
  =render :partial => 'shared/nav'
=render :partial => 'shared/alert'
.dashboard-block
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th
          Participant ID
        %th
          Name
        %th
          Email
        %th
          Type
        %th
          IMEI

        
    %tbody
      -Participant.all.each do |g|
        %tr
          %td
            =g.id
          %td
            =g.name
          %td
            =g.email
          %td
            ="SMS: #{g.sms_log_records.count}"
            %br
            ="Call log: #{g.call_log_records.count}"
            %br
            ="Installed apps: #{g.installed_app_records.count}"
          %td
            =g.imei
          %td
            =link_to timeline_participant_path(g), :data => { :no_turbolink => true } do
              Timeline
  