=content_for :title do
  Participant Map | MetaCollector 2
=content_for :page_title do
  %i.fa.fa-lg.fa-map
  Participant Map
=content_for :nav do
  =render :partial => 'shared/nav'
=render :partial => 'shared/alert'
.dashboard-block
  #map
:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(#{raw @hash.to_json });
    //polylines = handler.addPolylines(#{raw @hash.to_json});
    handler.bounds.extendWith(markers);
    //handler.bounds.extendWith(polylines);
    handler.fitMapToBounds();
  });