=content_for :title do
  Participant Timeline | MetaCollector 2
=content_for :page_title do
  %i.fa.fa-lg.fa-clock-o
  Participant Timeline
=content_for :nav do
  =render :partial => 'shared/nav'
=render :partial => 'shared/alert'
.dashboard-block
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th
          Type
        %th
          Direction
        %th
          Other party
        %th
          Time
        %th
          Description
        

        
    %tbody
      -@participant.events.order(date: :desc).each do |g|
        %tr
          %td
            =g.class
          %td
            =g.direction
          %td
            =g.otherParty
          %td
            =g.date.strftime('%c')
          %td
            =g.description

        
