=content_for :title do
  Participant Timeline | MetaCollector 2
=content_for :page_title do
  %i.fa.fa-lg.fa-clock-o
  Participant Timeline
=content_for :nav do
  =render :partial => 'shared/nav'
=render :partial => 'shared/alert'
.dashboard-block
  #timeline