=content_for :title do
  Participant Timeline | MetaCollector 2
=content_for :page_title do
  %i.fa.fa-lg.fa-clock-o
  Participant Timeline
=content_for :nav do
  =render :partial => 'shared/nav'
=render :partial => 'shared/alert'
.dashboard-block
  .button-bar
    =link_to generateTimeline_participant_path(@participant), method: :post do
      .btn.btn-raised.btn-danger
        %i.fa.fa-trash
        -if @participant.events.count > 0
          Regnerate timeline
        -else
          Generate timeline
  -if @participant.events.count > 0
    ="Timeline last generated: #{@participant.events.first.created_at.in_time_zone("Auckland").strftime('%c')}"
  -else
    No timeline available. Click Generate timeline to create.
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th
          Type
        %th
          Direction
        %th
          Other party
        %th
          Time
        %th
          Description
        

        
    %tbody
      -@participant.events.order(date: :desc).each do |g|
        %tr
          %td
            =get_label(g.class)
          %td
            =g.direction
          %td
            =g.otherParty
          %td
            =g.date.strftime('%c')
          %td
            =g.description

        
