%ul
  =link_to root_path do
    %li{class: ('active' unless action_name != 'main')}
      %i.fa.fa-fw.fa-dashboard
      DASHBOARD
  =link_to participants_path do
    %li{class: ('active' if controller_name == 'participants' && action_name == 'index')}
      %i.fa.fa-fw.fa-users
      PARTICIPANTS
  -if controller_name == 'participants' && action_name != 'index'
    =link_to summary_participant_path(@participant) do
      %li.subitem{class: ('active' if controller_name == 'participants' && action_name == 'summary')}
        %i.fa.fa-fw.fa-user
        SUMMARY
    =link_to data_participant_path(@participant) do
      %li.subitem{class: ('active' if controller_name == 'participants' && action_name == 'data')}
        %i.fa.fa-fw.fa-table
        DATA
    =link_to timeline_participant_path(@participant) do
      %li.subitem{class: ('active' if controller_name == 'participants' && action_name == 'timeline')}
        %i.fa.fa-fw.fa-clock-o
        TIMELINE
    =link_to analysis_participant_path(@participant) do
      %li.subitem{class: ('active' if controller_name == 'participants' && action_name == 'analysis')}
        %i.fa.fa-fw.fa-line-chart
        ANALYSIS
  =link_to edit_survey_path(Survey.first) do
    %li{class: ('active' unless controller_name != 'surveys')}
      %i.fa.fa-fw.fa-cogs
      CONFIGURE SURVEY
  
  