%ul
  =link_to root_path do
    %li{class: ('active' unless action_name != 'main')}
      %i.fa.fa-fw.fa-dashboard
      DASHBOARD
  =link_to participants_path do
    %li{class: ('active' unless action_name != 'participants')}
      %i.fa.fa-fw.fa-users
      PARTICIPANTS
  