=form_for(@survey) do |f|
  =@sources
  .form-group
    =f.text_field :name, placeholder: 'Name', class: 'form-control'
  .form-group
    =f.text_area :terms, placeholder: 'Terms and Conditions', class: 'form-control'
  .form-group
    =f.label "Record participant details (name and email)"
    =f.check_box :details_required
  .form-group
    =f.label "Client APK"
    =f.file_field :apk
  -if action_name == 'new'
    =f.submit "Create Survey", class: 'btn btn-danger'
  -else
    =f.submit "Save changes", class: 'btn btn-danger'