=form_for(@survey) do |f|
  .list-group
    -@sources.each do |s|
      =hidden_field_tag "survey[collection_source_attributes][][key]", s[:key]
      .list-group-item
        .row-action-primary
          =check_box_tag("survey[collection_source_attributes][][available]", "1", s[:available])
        .row-content
          %h4.list-group-item-heading
            =s[:key]
          %p.list-group-item-text
            =label_tag "Required"
            =check_box_tag("survey[collection_source_attributes][][required]", "1", s[:required])
      .list-group-separator

      
        
  .form-group
    =f.text_field :name, placeholder: 'Name', class: 'form-control'
  .form-group
    =f.text_area :terms, placeholder: 'Terms and Conditions', class: 'form-control'
  .form-group
    =f.label "Record participant details (name and email)"
    =f.check_box :details_required
  .form-group
    =f.label "Client APK"
    =f.file_field :apk
  -if action_name == 'new'
    =f.submit "Create Survey", class: 'btn btn-danger'
  -else
    =f.submit "Save changes", class: 'btn btn-danger'