=content_for :title do
  Configure Survey | MetaCollector 2
=content_for :page_title do
  %i.fa.fa-lg.fa-cogs
  Configure Survey
=content_for :nav do
  =render :partial => 'shared/nav'
.dashboard-block
  =render :partial => 'form'